# Archivos compilados de LUA
*.src.rock
*.luac.out
*.tar.gz

# Archivos compilados 
*.cia
*.3dsx
*.smdh
*.bin

# Archivos objeto
*.o
*.os
*.ko
*.obj

# Cabeceras precompiladas
*.gch
*.pch

# Librerias
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Objetos dinamicos
*.so
*.so.*
*.dylib

# Ejecutables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Otros

Builder/romfs